__pycache__/  
*.py[cod]  
*.so  
*.egg-info/  
.env  

  
.ipynb_checkpoints/  

 
*.csv  
*.xlsx  
*.json  
*.db  
*.sqlite  

  
.vscode/  

  
venv/  
.env/  
*.log  

 
.streamlit/  

  
.DS_Store  
Thumbs.db  